# Dependencies
node_modules/

# Build output (Netlify lo genera durante el deploy)
dist/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db
